# KNN تشخیص بیماری سکته با

In [7]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [11]:
df = pd.read_csv(r'C:\Users\NP\OneDrive\Desktop\healthcare-knn-project\healthcare-dataset-stroke-data.csv')
df.shape

(5110, 12)

In [13]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [15]:
df.isna().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [ ]:
df.fillna(df.mean(), inplace=True)

In [ ]:
df.isna().sum()

In [18]:
df = df.drop(['id'], axis=1)
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [19]:
X = df.iloc[:, 0:10]
y = df.iloc[:, 10]

In [24]:
X

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked
...,...,...,...,...,...,...,...,...,...,...
5105,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown

In [10]:
y

0       1
1       1
2       1
3       1
4       1
       ..
5105    0
5106    0
5107    0
5108    0
5109    0
Name: stroke, Length: 5110, dtype: int64

In [11]:
#####################################################################################

In [34]:
y.value_counts()

stroke
0    4861
1     249
Name: count, dtype: int64

In [36]:
X['gender'].value_counts()

gender
Female    2994
Male      2115
Other        1
Name: count, dtype: int64

In [38]:
X['hypertension'].value_counts()

hypertension
0    4612
1     498
Name: count, dtype: int64

In [40]:
X['heart_disease'].value_counts()

heart_disease
0    4834
1     276
Name: count, dtype: int64

In [42]:
X['ever_married'].value_counts()

ever_married
Yes    3353
No     1757
Name: count, dtype: int64

In [44]:
X['work_type'].value_counts()

work_type
Private          2925
Self-employed     819
children          687
Govt_job          657
Never_worked       22
Name: count, dtype: int64

In [46]:
X['Residence_type'].value_counts()

Residence_type
Urban    2596
Rural    2514
Name: count, dtype: int64

In [48]:
X['avg_glucose_level'].value_counts()

avg_glucose_level
93.88     6
91.68     5
91.85     5
83.16     5
73.00     5
         ..
111.93    1
94.40     1
95.57     1
66.29     1
85.28     1
Name: count, Length: 3979, dtype: int64

In [50]:
X['bmi'].value_counts()

bmi
28.7    41
28.4    38
26.7    37
27.6    37
26.1    37
        ..
48.7     1
49.2     1
51.0     1
49.4     1
14.9     1
Name: count, Length: 418, dtype: int64

In [51]:
X['smoking_status'].value_counts()

smoking_status
never smoked       1892
Unknown            1544
formerly smoked     885
smokes              789
Name: count, dtype: int64

In [53]:
#####################################################################################

In [55]:
X['gender'] = X['gender'].replace('Female', 1)
X['gender'] = X['gender'].replace('Male' , 2)
X['gender'] = X['gender'].replace('Other' , 3)

C:\Users\NP\AppData\Local\Temp\ipykernel_3596\496140424.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X['gender'] = X['gender'].replace('Other' , 3)

In [58]:
X['ever_married'] = X['ever_married'].replace('Yes', 1)
X['ever_married'] = X['ever_married'].replace('No', 0)

C:\Users\NP\AppData\Local\Temp\ipykernel_3596\3218513366.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X['ever_married'] = X['ever_married'].replace('No', 0)

In [60]:
X['work_type'] = X['work_type'].replace('Private', 1)
X['work_type'] = X['work_type'].replace('Self-employed', 2)
X['work_type'] = X['work_type'].replace('children', 3)
X['work_type'] = X['work_type'].replace('Govt_job', 4)
X['work_type'] = X['work_type'].replace('Never_worked', 5)

C:\Users\NP\AppData\Local\Temp\ipykernel_3596\3138928441.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X['work_type'] = X['work_type'].replace('Never_worked', 5)

In [62]:
X['Residence_type'] = X['Residence_type'].replace('Urban', 1)
X['Residence_type'] = X['Residence_type'].replace('Rural', 2)

C:\Users\NP\AppData\Local\Temp\ipykernel_3596\447535355.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X['Residence_type'] = X['Residence_type'].replace('Rural', 2)

In [64]:
X['smoking_status'] = X['smoking_status'].replace('never smoked', 1)
X['smoking_status'] = X['smoking_status'].replace('Unknown', 2)
X['smoking_status'] = X['smoking_status'].replace('formerly smoked', 3)
X['smoking_status'] = X['smoking_status'].replace('smokes', 4)

C:\Users\NP\AppData\Local\Temp\ipykernel_3596\2029479873.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X['smoking_status'] = X['smoking_status'].replace('smokes', 4)

In [66]:
X

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,2,67.0,0,1,1,1,1,228.69,36.6,3
1,1,61.0,0,0,1,2,2,202.21,NaN,1
2,2,80.0,0,1,1,1,2,105.92,32.5,1
3,1,49.0,0,0,1,1,1,171.23,34.4,4
4,1,79.0,1,0,1,2,2,174.12,24.0,1
...,...,...,...,...,...,...,...,...,...,...
5105,1,80.0,1,0,1,1,1,83.75,NaN,1
5106,1,81.0,0,0,1,2,1,125.20,40.0,1
5107,1,35.0,0,0,1,2,2,82.99,30.6,1
5108,2,51.0,0,0,1,1,2,166.29,25.6,3
5109,1,44.0,0,0,1,4,1,85.28,26.2,2

In [67]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [77]:
print(f"X_train : {X_train.shape}")
print(f"X_test : {X_test.shape}")
print(f"y_train : {y_train.shape}")
print(f"y_test : {y_test.shape}")

X_train : (3832, 10)
X_test : (1278, 10)
y_train : (3832,)
y_test : (1278,)

In [ ]:
Classifier = KNeighborsClassifier(n_neighbors = 5)
Classifier.fit(X_train, y_train)

In [ ]:
Classifier.score(X_test, y_test)

In [ ]:
for i in range(1, 100):
    Classifier = KNeighborsClassifier(n_neighbors = i)
    Classifier.fit(X_train, y_train)
    Result = Classifier.score(X_test, y_test)
    print(f"n_neighbors : {i} , Score : {Result}")

In [ ]:
Classifier.predict( [[1, 40, 0, 1, 1, 2, 1, 80, 28.52, 1]] )

In [ ]:
Classifier.predict_proba( [[1, 40, 0, 1, 1, 2, 1, 80, 28.52, 1]] )